@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
* {
  margin: 0;
  padding: 0;
}

.main {
      display: flex;
      align-items: center;
      color: black;
      font-weight: bold;
      text-shadow: 1px 1px 2px white;
      font-family: 'Share Tech Mono', monospace;
}

.line {
      width: 16em;
      margin: 0 auto;
      border-right: 2px solid whitesmoke;
      font-size: 280%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
}

/*Animation*/

.anim-typewriter {
      animation: typewriter 3s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 9em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgba(255, 255, 255, 0.75);
      }
      to {
            border-right-color: transparent;
      }
}